################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XTplus.Templates.Extension/bin
/XTplus.Templates.Extension/obj

/XTplus.Templates.Extension/Templates/ProjectTemplates/*.zip
/XTplus.Templates.Extension/Templates/ItemTemplates/*.zip



/.vs
/**/*.generated.cs
/**/*.nuget.cache
/**/*.nuget.g.props
/**/*.nuget.g.targets
/**/project.assets.json

