################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XTplus.Templates.Extension/bin/Debug
/XTplus.Templates.Extension/obj/Debug
/XTplus.Templates.Extension/Templates/ProjectTemplates/*.zip
/XTplus.Templates.Extension/Templates/ItemTemplates/*.zip
/XTplus.Templates.Extension/ThisAssembly.generated.cs
/.vs

